@page
@model azure_app_sarika_vs_1.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slots";
}

<div class="text-center">
    <h1 class="display-4">Testing Deployment Slots</h1>
    <h3>Validating the deployment slot fetaures.</h3>
</div>