@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Azure  For .Net Developers</h1>
   <h3>We are to learn about the different Microsoft Azure features and .Net Core Services</h3>
</div>
